*{
	box.sizing: border-box;
}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/opensans-extrabold.eot');
    src: url('../fonts/opensans-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-extrabold.woff2') format('woff2'),
         url('../fonts/opensans-extrabold.woff') format('woff'),
         url('../fonts/opensans-extrabold.svg#open_sansextrabold') format('svg');
}

@font-face{
font-family: 'opensans_regular';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff2') format('woff2'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.svg#opensans_regular') format('svg');
}

.container{
    width: 90%;
    margin: auto;
}

.toggle-menu{
    display: block;
    float: right;
    margin-top: 15px;
    outline: none;
}

.logo{
    max-width: 100%;
    float: left;
    margin-top: 2px;
}

.menu-desktop.visible {
    height: 230px;
}

.menu-desktop {
    background-color: #FF2330;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s height;
}

.menu-desktop ul{
    padding-left: 0;
}

.menu-desktop a{
    text-decoration: none;
    color: #fff;
    display: block;
    border-bottom: 1px solid #ded6c0;
    padding: 15px 20px;
    font-size: 16px;
    font-family: 'open_sansextrabold';
}

header{
        position: fixed;
        z-index: 2;
        width: 100%;
        text-align: center;
        background-color: #FF7621;
        border-bottom: 2px solid rgb(350, 50, 50);
}

.principal-img{
    background-image: url(../img/imagen-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 72px;
    width: 100%;
}

main{
    position: relative;
}

.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
     clear: both;
}

h1{
    text-align: center;
    color: #FF7621;
    font-family: 'open_sansextrabold';
    font-size: 35px;
    margin: 10px 0px 10px 0px;
}

.principal-img p{
    text-align: center;
    font-size: 17px;
    font-family: 'open_sansextrabold';
    color: #fff;
}

.principal-img button{
    outline: none;
    background-color: none;
    display: block;
    margin: auto;
    font-family: 'open_sansextrabold';
    font-size: 18px;
    border: none;
    padding: 8px 30px 8px 30px;
    background-color: #FF7621;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
}

.principal-img button a{
    text-decoration: none;
    color: #fff;
}

.principal-img button:hover{
    background: rgb(350, 50, 50);
    border-color: rgb(350, 50, 50);
}

@media screen and (min-width:650px){

    .toggle-menu{
        display: none;
    }
    
    .menu-desktop {
        position: static;
        padding: 0;
        background-color: transparent;
        height: auto;
        overflow: visible;
        margin: 0;
    }


    .menu-desktop ul{
        padding-left: 0;
        float: right;
        margin: 0;
        line-height: 70px;
    }

    .menu-desktop ul li{
        display: inline-block;
        margin-left: 30px;
    }

    .menu-desktop ul li a{
        color: #fff;
        font-family: 'open_sansextrabold';
        font-size: 16px;
        text-decoration: none;
        border: none;
        padding: 0;
        transition: 0.3s linear;
        -webkit-transition: 0.3s linear;
        -moz-transition: 0.3s linear;
        -o-transition: 0.3s linear;
        -ms-transition: 0.3s linear;
    }

    .menu-desktop ul li a:hover{
        color: rgb(350, 50, 50);
    }

    .logo{
        max-width: 100%;
        float: left;
        margin-top: 2px;
    }
}