*{
	box.sizing: border-box;
}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/opensans-extrabold.eot');
    src: url('../fonts/opensans-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-extrabold.woff2') format('woff2'),
         url('../fonts/opensans-extrabold.woff') format('woff'),
         url('../fonts/opensans-extrabold.svg#open_sansextrabold') format('svg');
}

@font-face{
font-family: 'opensans_regular';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff2') format('woff2'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.svg#opensans_regular') format('svg');
}

body{
	margin: 0;
	padding: 0;
}

video{
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: -10;
	opacity: 0.9;
}

.page{
	width: 100%;
	height: 100vh;
	position: relative;
	display: table;
	background: rgba(0,0,0,0.3);
}

.center-box{
	display: table-cell;
	vertical-align: middle;
}

h1{
	margin: 0;
	text-align: center;
	color: #fff;
	font-family: 'open_sansextrabold';
	font-size: 30px;
	padding: 0px 3px 0px 3px;
}

.center-box img{
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

button{
	outline: none;
	background-color: none;
	display: block;
	margin: auto;
	font-family: 'open_sansextrabold';
	font-size: 18px;
	border: 2px solid #fff;
	padding: 8px 30px 8px 30px;
	background-color: rgba(0,0,0,0);
	display: block;
	text-align: center;
	margin-top: 20px;
}

button a{
	text-decoration: none;
	color: #fff;
}

.footer-inicio{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.footer-inicio ul{
	margin:0;
	padding: 0;
	text-align: center;
	color: white;
	font-size: 18px;
}

.footer-inicio ul li{
	display: inline-block;
	margin-left: 3px;
	margin-right: 3px;
}

.footer-inicio ul li a img{
	text-decoration: none;
	opacity: 1;
}

.footer-inicio ul li a img:hover{
	opacity: 0.8;
}

